<!--
  Generated template for the RecipesList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>recipes-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="recipes.length > 0; else emptyRecipes">
    <ion-card (click)="onRecipeSelect(recipe)" *ngFor="let recipe of recipes; let i = index;">
      <ion-card-header>
        {{ recipe.title }}
      </ion-card-header>
      <ion-card-content>
        {{ recipe.description }}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ng-template #emptyRecipes>
    <h5> Add some recipes!</h5>
  </ng-template>
  <ion-fab bottom right>
    <button ion-fab mini (click)="onAddClick()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>
</ion-content>