<ion-list>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label stacked>Title</ion-label>
            <ion-input type="text" formControlName="title" clearInput></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-input type="text" formControlName="description" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Dificulty</ion-label>
            <ion-select formControlName="dificulty">
                <ion-option value="1">Easy</ion-option>
                <ion-option value="2">Medium</ion-option>
                <ion-option value="3">Hard</ion-option>
            </ion-select>
        </ion-item>
        <ion-list formArrayName="ingredients">
            <ion-item [formGroupName]="i" *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i = index">
                <ion-input type="text" placeholder="Ingredient" formControlName="name"></ion-input>
                <ion-input type="number" placeholder="Amount" formControlName="amount"></ion-input>
            </ion-item>
        </ion-list>

        <button ion-button full clear (click)="onManageIngredient()" type="button"> Manage Ingredient</button>
        <button ion-button type="submit" full color='primary'> New Recipe </button>
    </form>
</ion-list>